[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "overtureR"]
	path = overtureR
	url = https://github.com/arthurgailes/overturer
